@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black !important; */
}

html
{
    height: 100%;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #003366;
    height: 100%;
}

.welcome
{
    position: relative;
    display: inline-block;
    left: 5%;
    top: 2%;
}

.welcome-text
{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: #EAF2FF;
    
}

.name-text 
{
    font-size: 24px;
    color: #FFA500;
}

.parent 
{
    height: 85%;
    position: absolute;
    top: 50%;
    width: 90%;
    transform: translate(5%, -45%);
    display: grid;
    grid-template-columns: .3fr repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, .9fr) repeat(2, .8fr);
    gap: 20px;
}
    
.child
{
    background: rgba(34, 73, 113, 0.65);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;   
}
  
.div1 
{ 
    grid-area: 1 / 1 / 6 / 2; 
}

.div2 
{ 
    grid-area: 1 / 2 / 2 / 3;
}

.div2 .create-operation
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #EAF2FF;

}

.create-operation img
{
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}

.div3 
{ 
    grid-area: 1 / 3 / 2 / 4; 
}

.div4 
{ 
    grid-area: 1 / 4 / 2 / 5; 
}

.div5 
{ 
    grid-area: 1 / 5 / 6 / 6; 
}

.div6 
{ 
    grid-area: 2 / 2 / 3 / 3; 
}

.div7 
{ 
    grid-area: 3 / 2 / 4 / 3; 
}

.div8 
{ 
    grid-area: 2 / 3 / 4 / 5; 
}

.div9 
{ 
    grid-area: 4 / 2 / 6 / 5; 
}
