@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid white !important; */
}

html
{
    height: 100%;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box
{
    width: 333px;
    height: 85%;
    background: rgba(34, 73, 113, 0.65);
    border-radius: 20px;

}

label
{
    display: block;
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

input[type=textbox], input[type=password]
{
    width: 220px;
    height: 30px;
    padding: 8x 10px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}

input:focus,select:focus 
{
    outline: none;
}

.login-button:hover
{
    opacity: 0.8;
}

form
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.login-button
{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFA500;
    color: white;
    font-weight:600;
    border: none;
    cursor: pointer;
}

.input-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.password
{
    margin-bottom: 18px;
}

.input-container i
{
    position: absolute;
    padding-top: 40.5px;
    padding-left: 7px;
}

.fa-eye{
    right: 540px;
}

.fa-eye-slash
{
    right: 540px;
    display: none;
}
.error-msg
{
background:rgba(116, 160, 196, 0.65);
line-height: 1;
display: none;
position: relative;
max-width: 175px;
font-size: 10px;
align-items: center;
margin-top: 14px;
padding: 10px;
padding-top: 5px;
padding-bottom: 5px;
text-align: left;
color: #EAF2FF;
border-radius: 10px;
}

